.example-section {
    margin: 12px 0;
  }
  
  .example-margin {
    margin: 0 12px;
  }
  
  ul {
    list-style-type: none;
  }
  
  .user-directives-selected {
    font-weight: 500;
    display: inline-block;
  }
  
  ::ng-deep .mat-mdc-checkbox label {
    cursor: pointer;
    margin-top: 10px !important; /* Usa !important si es necesario */
  }
  
  .badge-mat {
    white-space: nowrap;
    border: 1px solid #0000;
    border-radius: 12px;
    padding: 0 8px;
    font-size: 11px;
    font-weight: 500;
    line-height: 20px;
    display: inline-block;
    transform: translateY(-2px);
  }