<div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
    <div class="card shadow-sm" style="width: 100%; max-width: 400px">
        <div class="card-body">
            <div class="box">
                <span class="borderLine"></span>
                <form [formGroup]="surveyResponseForm" class="p-md-3" (ngSubmit)="onSubmit()">
                    <h2>Ingresa tu identificación</h2>
                    <div class="inputBox">
                        <span>Ingresar el documento</span>
                        <i></i>
                        <input type="text" class="form-control" [value]="surveyResponseForm.get('document')?.value "
                            formControlName="document" required>
                        <span></span>
                        <i></i>
                        <div
                            *ngIf="surveyResponseForm.get('document')?.invalid && surveyResponseForm.get('document')?.touched">
                            <span class="text-danger"
                                *ngIf="surveyResponseForm.get('document')?.errors?.['required']">El
                                campo es
                                obligatorio.</span>
                        </div>
                    </div>
                    <input type="submit" id="submit" value="Continuar" class="btn btn-primary"
                        [disabled]="surveyResponseForm.invalid">
                </form>
            </div>
        </div>
    </div>
</div>