<app-menu></app-menu>
<section class="content-news-detail">
  <div class="container">
    <div class="row container-titlePage">
      <div class="col-xs-12 col-sm-12 col-md-2">
        <app-button-back></app-button-back>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <h2 class="text-center title-page-intrernal">{{ titlePage }}</h2>
      </div>
    </div>
    <div class="row saving">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <h4>AHORRO OBLIGATORIO FOMEVI</h4>
        <p class="separator one-separator"></p>
        <p class="separator two-separator"></p>
        <p>
          Para ser asociado de FOMEVI se debe hacer un AHORRO obligatorio
          mensual que puede estar entre el 2% y el 10% de su salario y que se
          cobra en dos cuotas quincenales iguales. Esta cuota tendrá dos partes:
          un 10% recibe el nombre de APORTE SOCIAL y permanecerá capitalizando
          el Fondo hasta que el asociado se retire del mismo; el otro 90% recibe
          el nombre de AHORRO PERMANENTE.
        </p>
        <p>
          La tasa de rentabilidad del Ahorro Permanente dependerá de las
          utilidades brutas de FOMEVI en cada mes. Cuando el asociado se
          desvincula de la entidad, tiene derecho al retiro de todos sus ahorros
          y aportes, previo descuento de las obligaciones pendientes que tenga
          en el Fondo de Empleados.
        </p>
        <p>
          Además, algunas de las empresas patronales que conforman FOMEVI,
          depositan mensualmente en la cuenta del asociado un 50% adicional
          sobre su AHORRO OBLIGATORIO, incentivando así el ahorro entre sus
          colaboradores.
        </p>
        <div class="text-center">
          <a
            href="https://www.fomevi.com/fomevi/Files/FORMULARIO_DE_AFILIACION.pdf"
            class="btn btn-lg button from-left"
            target="_blank"
          >
            Descargar solicitud de afiliación</a
          >
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6">
        <img
          src="img/ahorro-obligatorio.png"
          class="img-fluid"
          alt="ahorro obligatorio"
        />
      </div>
    </div>
  </div>
  <div class="credit">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h4>AHORRO VOLUNTARIO PROGRAMADO (AVP)</h4>
          <p class="separator one-separator"></p>
          <p class="separator two-separator"></p>
          <p>
            El asociado se compromete voluntariamente a constituir un ahorro
            fijo mensual como mínimo de $10.000 y máximo el 20 % sobre el
            salario básico. Sobre este ahorro FOMEVI causa intereses
            establecidos por la Junta Directiva.
          </p>
          <p>
            La cuota del ahorro voluntario se cobrará entre la segunda quincena
            de enero y la primera quincena de noviembre de cada año, es decir,
            el plazo será aproximadamente de 10 meses.
          </p>
          <p>
            Los ahorros voluntarios y sus rendimientos generados en el año,
            serán entregados a los asociados máximo en la primera quincena de
            diciembre.
          </p>
          <div class="text-center">
            <a
              href="https://www.fomevi.com/fomevi/Files/FORMATO-INSCRIPCION-AVP-2022.pdf"
              class="btn btn-lg button from-left"
              target="_blank"
            >
              Descargar formato ahorro voluntario</a
            >
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <img
            src="img/ahorroVoluntario.png"
            class="img-fluid"
            alt="ahorro voluntario"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
