<app-menu></app-menu>
<section class="content-news-detail">
  <div class="container">
    <div class="row container-titlePage">
      <div class="col-xs-12 col-sm-12 col-md-2">
        <app-button-back></app-button-back>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <h2 class="text-center title-page-intrernal">{{ titlePage }}</h2>
      </div>
    </div>
    <div class="accordeon-tabs js-accordeon-tabs">
      <mat-tab-group>
        <mat-tab label="Nosotros">
          <h3>Nosotros</h3>
          <div class="border-b"></div>
          <p>
            El Fondo de Empleados FOMEVI es una entidad sin ánimo de lucro, financiera y administrativamente
            independiente de las empresas que lo conforman. Su propiedad corresponde a sus asociados, quienes, tienen
            los mismos derechos y deberes. FOMEVI fue fundado el 26 de mayo de 1996, durante una asamblea general en la
            que se aprobaron los estatutos que rigen la entidad y se eligieron los primeros miembros de la Junta
            Directiva, el Comité de Control Social y el Revisor Fiscal. La participación de los asociados se realiza a
            través de los delegados, quienes son elegidos de manera democrática y libre por todos los afiliados, y
            representan sus intereses con voz y voto en las decisiones tomadas en las Asambleas anuales.
          </p>
          <br />
          <a class="btn button from-left" href="https://www.fomevi.com/fomevi/files/organigrama-fomevi-2022.pptx"
            target="_blank">Organigrama FOMEVI</a>
        </mat-tab>
        <mat-tab label="Misión">
          <h3>Misión</h3>
          <div class="border-b"></div>
          <p>
            Construimos y mantenemos el bienestar social de los asociados y de
            su grupo familiar, a través de servicios financieros y convenios que
            mejoran su calidad de vida, apoyado en un equipo humano,competente y
            comprometido.
          </p>
        </mat-tab>
        <mat-tab label="Visión">
          <h3>Visión</h3>
          <div class="border-b"></div>
          <p>
            En los próximos años, FOMEVI será modelo de la economía solidaria y
            se convertirá en la mejor alternativa de ahorro y crédito para que
            las familias de nuestros asociados alcancen el desarrollo que se han
            propuesto, brindaremos día a día la mejor calidad y tecnología en
            nuestros servicios. FOMEVI apoyará con una sana administración la
            solvencia económica que le posibilite alcanzar plenamente su objeto
            social.
          </p>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <h3>Principios</h3>
      <hr />
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slides">
          <ng-template carouselSlide (id)="(slide.id)">
            <div class="content-slide">
              <img [src]="slide.img" />
              <div class="line"></div>
              <div class="line2"></div>
              <p>{{ slide.text }}</p>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</section>

<app-footer></app-footer>