section{
    padding: 2em;
    text-align: left !important;
}
.content-news-detail .container{
    min-height: 400px;
}

hr{
    color: #c2c1c1f8;;
}

.dateCreated{
    font-size: 0.8em;
    color: #acacac;
}
a{
    text-decoration: none;
    color: #414d95;
}
.text-justify{
    text-align: justify;
}

