<app-menu></app-menu>
<section class="content-news-detail">
  <div class="container">
    <div class="row container-titlePage">
      <div class="col-xs-12 col-sm-12 col-md-2">
        <app-button-back></app-button-back>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-7">
        <h2 class="text-center title-page-intrernal">{{ newSingle?.name }}</h2>
      </div>
    </div>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <img src="{{ newSingle?.imageBase64 }}" alt="pr-sample13" class="img-fluid" alt="novedades fomevi" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-8">
          <h2>{{ newSingle?.name }}</h2>
          <p class="dateCreated">
            <!-- <i class="bi bi-calendar-date"></i> {{ dateNewsList }} -->
          </p>
          <hr />
          <div [innerHTML]="safeDescription"></div>
          <p *ngIf="newSingle?.nameFile != ''">
            <!-- <a href="https://www.fomevi.com/fomevi/comun/descarga.aspx?IdNovedades={{
                detailId
              }}"><i class="bi bi-file-pdf"></i> {{ newSingle?.nameFile}}</a> -->
          </p>
          <hr />
          <a routerLink="/news" class="btn button from-left"><span>Más Novedades</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>