.button {		
    border: 1px solid #414d95  !important;
	position: relative;	
	padding: 1rem 2.2rem;
	padding-right: 3rem;
	font-size: 1rem;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.button:before, .button:after {
	content: '';
	position: absolute;	
	transition: inherit;
  	background-color: #25252515;
  	z-index: -1;
}
.btn {
	color: #414d95;
}

.button:hover {
	color: #fdfdfd!important;
	transition-delay: .5s;
}

.button:hover:before {
	transition-delay: 0s;
}

.button:hover:after { 
	background-color: #414d95 !important;
 	 color: #fdfdfd !important;
	transition-delay: .35s;
}
/* From Left */

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border-left: 0;
	border-right: 0;
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/*------------- Button transacciones *---------*/
.button-transaccion {		
    
	background: linear-gradient(-45deg, #404f94, #665cc4, #1a317c, #05164e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	position: relative;	
	padding: 1rem 2.4rem;
	padding-right: 3.1rem;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
	color: white !important;
}

.button-transaccion:before, .button-transaccion:after {
	content: '';
	position: absolute;	
	transition: inherit;
    background-color: #25252515;
    z-index: -1;
}

.button-transaccion:hover {
	transition-delay: .5s;
	color: white !important;
}

.button-transaccion:hover:before {
	transition-delay: 0s;
}

.button-transaccion:hover:after { 
	/*background-color: #162740;*/
  	color: #fdfdfd !important;
	transition-delay: .35s;
}

.button-active {		
    
	background: linear-gradient(-45deg, #404f94, #665cc4, #1a317c, #05164e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	position: relative;	
	padding: 1rem 2.4rem;
	padding-right: 3.1rem;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
	color: white !important;
}
