<footer id="footer" class="footer-1">
  <div class="main-footer widgets-dark typo-light">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget subscribe no-box">
            <h5 class="widget-title">FOMEVI<span></span></h5>
            <p class="footer_text">
              FOMEVI es un Fondo de Empleados, una empresa sin ánimo de lucro,
              independiente financiera y administrativamente de las empresas que
              lo conforman y que tiene como propietarios a sus asociados.
            </p>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-2 ms-3">
          <div class="widget no-box">
            <h5 class="widget-title">Institucional<span></span></h5>
            <ul class="thumbnail-widget">
              <li>
                <div class="thumb-content">
                  <a
                    href="https://www.fomevi.com/fomevi/Files/Reglamento%20Peticiones,%20Quejas,%20Reclamos%20y%20Sugerencias.pdf"
                    target="_blank"
                    >Reglamento de PQRS</a
                  >
                </div>
              </li>
              <li>
                <div class="thumb-content">
                  <a
                    href="https://www.fomevi.com/fomevi/Files/Manual-Interno-de-Pol%C3%ADticas-y-Procedimientos.pdf"
                    target="_blank"
                    >Manual de políticas web</a
                  >
                </div>
              </li>
              <li>
                <div class="thumb-content">
                  <a
                    href="https://www.fomevi.com/fomevi/Files/Aviso-de-Privacidad.pdf"
                    target="_blank"
                    >Aviso de privacidad</a
                  >
                </div>
              </li>
              <li>
                <div class="thumb-content">
                  <a
                    href="https://www.fomevi.com/fomevi/Files/Clausula-de-consentimiento-Web.pdf"
                    target="_blank"
                    >Consentimiento web</a
                  >
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <div class="widget no-box">
            <h5 class="widget-title">Canales de Atención<span></span></h5>

            <p>
              <a href="mailto:fomevi@fomevi.com" title="fomevi"
                >fomevi@fomevi.com</a
              >
            </p>
            <ul class="social-footer2">
              <li class="">
                <a
                  title="youtube"
                  target="_blank"
                  href="https://www.youtube.com/"
                  ><i class="bi bi-youtube"></i
                ></a>
              </li>
              <li class="">
                <a
                  href="https://www.facebook.com/Fondo-de-Empleados-Fomevi-107420050640168/"
                  target="_blank"
                  title="Facebook"
                  ><i class="bi bi-facebook"></i
                ></a>
              </li>
              <li class="">
                <a
                  title="instagram"
                  target="_blank"
                  href="https://www.instagram.com/fomevi_fde/"
                  ><i class="bi bi-instagram"></i
                ></a>
              </li>
            </ul>
            <hr />
            <p>
              <a
                href="https://www.fomevi.com/fomevi/Account/wf_ACC_Login.aspx?"
                title="fomevi"
                target="_blank"
                ><i class="bi bi-lock"></i> Ingreso Portal Administrativo</a
              >
            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2">
          <div class="widget no-box">
            <a href="https://www.analfe.org.co/" target="_blank">
              <img src="/img/logo-analfe.png" class="img-fluid" alt="Analfe" />
            </a>
            <hr />
            <a href="http://www.supersolidaria.gov.co/" target="_blank">
              <img
                src="/img/logo_supersolidaria_web.png"
                class="img-fluid"
                alt="supersolidaria"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p>Copyright FOMEVI© 2022. Todos los derechos reservados.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- <a href="https://api.whatsapp.com/send?phone=+573166789008&text=Hola%21%20soy%20asociado%20de%20FOMEVI%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20." class="float" target="_blank">
    <i class="bi bi-whatsapp my-float"></i>
</a> -->
<div class="chat-widget" ngsReveal>
  <div class="chat-widget--bubble">
    <div class="chat-header">
      <h1 class="chat-widget--header">¿Necesitas ayuda?</h1>
    </div>
    <ul class="menu-chat">
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=+573156044067&text=Hola%21%20soy%20asociado%20de%20FOMEVI%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20."
          target="_blank"
        >
          <i class="bi bi-whatsapp"></i>
          Desbloqueo de clave
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=+573166789008&text=Hola%21%20soy%20asociado%20de%20FOMEVI%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20."
          target="_blank"
        >
          <i class="bi bi-whatsapp"></i>
          Afiliaciones y ahorros
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=+573054721717&text=Hola%21%20soy%20asociado%20de%20FOMEVI%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20."
          target="_blank"
        >
          <i class="bi bi-whatsapp"></i>
          Servicio crédito
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=+573145371155&text=Hola%21%20soy%20asociado%20de%20FOMEVI%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20."
          target="_blank"
        >
          <i class="bi bi-whatsapp"></i>
          Servicio crédito 2
        </a>
      </li>
      <li>
        <a
          href="https://api.whatsapp.com/send?phone=+573156044067&text=Hola%21%20soy%20asociado%20de%20FOMEVI%20y%20quisiera%20m%C3%A1s%20informaci%C3%B3n%20."
          target="_blank"
        >
          <i class="bi bi-whatsapp"></i>
          Información contable
        </a>
      </li>
    </ul>
  </div>

  <a id="widget" class="chat-widget--button">
    <i class="icon-whahtsapp bi bi-whatsapp"></i>
    <i class="icon-whahtsapp bi bi-x-lg hide"></i>
  </a>
</div>
