<section id="convenios" class="content-reveal">
  <div class="title_content title-content">
    <h2>Tenemos las mejores opciones para ti</h2>
    <p class="subTitle">Pregunta por nuestros convenios</p>
  </div>
  <div class="section over-hide">
    <div class="container">
      <div class="row justify-content-center convenios-wrapper">
        <div class="col-md-3 text-center align-self-center">
          <div class="section text-center py-5 py-md-0">
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-back">
                  <div class="pricing-wrap">
                    <h4 class="mb-5">Salud</h4>
                    <p class="mb-1">
                      <i class="uil uil-location-pin-alt size-22"></i>
                    </p>
                    <a (click)="onDetail('Salud')" class="link"
                      >Más Información</a
                    >
                    <div class="img-wrap img-2">
                      <img src="img/grass.png" alt="tour" />
                    </div>
                    <div class="img-wrap img-4">
                      <img
                        src="img/salud-pastilla-1.png"
                        alt="andar en carro"
                      />
                    </div>
                    <div class="img-wrap img-7">
                      <img
                        src="img/salud-pastilla.png"
                        alt="electrodomésticos"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center align-self-center">
          <div class="section text-center py-5 py-md-0">
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="pricing-wrap">
                    <h4 class="mb-5">Turismo</h4>
                    <p class="mb-1">
                      <i class="uil uil-location-pin-alt size-22"></i>
                    </p>
                    <a (click)="onDetail('Turismo')" class="link"
                      >Más Información</a
                    >
                    <div class="img-wrap img-2">
                      <img src="img/sea.png" alt="otros" />
                    </div>
                    <div class="img-wrap img-1">
                      <img src="img/kayak.png" alt="vehículos" />
                    </div>
                    <div class="img-wrap img-3">
                      <img src="img/water.png" alt="salud" />
                    </div>
                    <div class="img-wrap img-6">
                      <img src="img/camara.png" alt="turismo" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center align-self-center">
          <div class="section text-center py-5 py-md-0">
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-Vehiculo">
                  <div class="pricing-wrap">
                    <h4 class="mb-5">Vehículos</h4>
                    <p class="mb-1">
                      <i class="uil uil-location-pin-alt size-22"></i>
                    </p>
                    <a (click)="onDetail('Vehículos')" class="link"
                      >Más Información</a
                    >
                    <div class="img-wrap img-2">
                      <img src="img/pista2.png" alt="nominal anual" />
                    </div>
                    <div class="img-wrap img-4">
                      <img src="img/vehiculo.png" alt="los mejores convenios" />
                    </div>
                    <div class="img-wrap img-7">
                      <img src="img/llanta.png" alt="planes" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-center align-self-center">
          <div class="section text-center py-5 py-md-0">
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-other">
                  <div class="pricing-wrap">
                    <h4 class="mb-5">Otros</h4>
                    <p class="mb-1">
                      <i class="uil uil-location-pin-alt size-22"></i>
                    </p>
                    <a (click)="onDetail('Otros')" class="link"
                      >Más Información</a
                    >
                    <div class="img-wrap img-2">
                      <img src="img/other-bg.png" alt="convenio fomevi" />
                    </div>
                    <div class="img-wrap img-4">
                      <img
                        src="img/otros-convenios.png"
                        alt="los mejores convenios"
                      />
                    </div>
                    <div class="img-wrap img-7">
                      <img src="img/notebooks.png" alt="tasas preferenciales" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
